<!DOCTYPE html>

<html>
   <head>
      <title>Microservices Project | fcc</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Microservices Project</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="/timestamp">Timestamp</a></li>
        <li><a href="/api/whoami">Header Parser</a></li>
        <li><a href="/url-shortener">URL Shortener</a></li>
        <li><a href="/exercise-tracker">Exercise Tracker</a></li>
      </ul>

     
    </div>
    <div class="footer">
      <p>
        by fredjoya
      </p>
    </div>
  </body>
</html>
