/****** Main Styling ******/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: left;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
  text-align: left;
}

hr {
  margin: 25px;
}

.footer {
  margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  margin-bottom: 0.5em;
  text-align: left;
}

a {
  color: #2574a9;
  text-align: left;
}
ß